<ion-slides class="Trend-Slider" [options]="sliderOptions">
    <ion-slide class="trendSlide">
      <ion-card class="ion-card-trend">
        <ion-card-content >
            <ion-img slot="center" class="image-slide-trend" src="assets/images/trendSlider1.svg"></ion-img>
            <h2 class="trend-slide-text">REAL ESTATE</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide class="trendSlide">
        <ion-card class="ion-card-trend1">
          <ion-card-content >
              <ion-img slot="center" class="image-slide-trend" src="assets/images/trendSlider1.svg"></ion-img>
              <h2 class="trend-slide-text">REAL ESTATE</h2>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide class="trendSlide">
          <ion-card class="ion-card-trend">
            <ion-card-content >
                <ion-img slot="center" class="image-slide-trend" src="assets/images/trendSlider1.svg"></ion-img>
                <h2 class="trend-slide-text">REAL ESTATE</h2>
            </ion-card-content>
          </ion-card>
        </ion-slide>

  </ion-slides>

  <ion-card class="card-product">
    <ion-card-header>
      <ion-button no-padding fill="outline" color="medium" style="float: right">
        <ion-icon name="heart-empty"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-img class="testImage" src="assets/images/image.png"> </ion-img>
      <ion-row margin>
        <ion-col size="7">
          <div>TEA TYPE 1</div>
          <div style="display: table">
            <span style="display: table-cell">
              <ion-icon
                style="color: #FFAF02; font-size: x-large"
                name="star"
              ></ion-icon>
              <ion-icon
                style="color: #FFAF02; font-size: x-large"
                name="star"
              ></ion-icon>
              <ion-icon
                style="color: #FFAF02; font-size: x-large"
                name="star"
              ></ion-icon>
              <ion-icon
                style="color: #FFAF02; font-size: x-large"
                name="star"
              ></ion-icon>
              <ion-icon
                style="color: #FFAF02; font-size: x-large"
                name="star"
              ></ion-icon>
            </span>
            <span
              style="color: #d4d4d4; display: table-cell; vertical-align: middle"
              >(13)</span
            >
          </div>
        </ion-col>
        <ion-col size="5">
          <div style="text-align: end">
            <s>KD 49,00</s>
          </div>
          <div style="text-align: end">
            <b style="color: #7ED321; font-size: large">KD 32,99</b>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>