<ion-header>

  </ion-header>
  
  <ion-content>
      <ion-img class="background-SignIn" src="assets/images/signIn/choosePageBackground.svg"></ion-img>
  
    <ion-grid>
  
      <ion-row>
        <ion-col size-md="12" size-lg="12" size-xs="12">
          <ion-img class="logo-SignIn" src="assets/images/signIn/forgotPassLogo.svg"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row class="rowBottom">
          <ion-col size-md="12" size-lg="12" size-xs="12">
            <ion-text color="light">Reset your<br>
                password?</ion-text>
          </ion-col>
        </ion-row>
  
      <ion-row justify-content-center class="margin-plus-row">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-card>
            <form [formGroup]="loginForm">
              <ion-item>
                <ion-icon slot="start" name="person" [color]="loginForm.get('email').dirty  ? 'primary' : 'medium'">
                </ion-icon>
                <ion-label position="stacked" color="medium">Email</ion-label>
                <ion-input formControlName="email" name="email" type="email" inputmode="email" required="true">
                </ion-input>
              </ion-item>

              <ion-item>
                  <ion-icon slot="start" name="lock" [color]="loginForm.get('password').dirty  ? 'primary' : 'medium'">
                  </ion-icon>
                  <ion-label position="stacked" color="medium">Password</ion-label>
                  <ion-input formControlName="password" name="password" type="password" inputmode="password" required="true">
                  </ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon slot="start" name="lock" [color]="loginForm.get('confirmPassword').dirty  ? 'primary' : 'medium'">
                    </ion-icon>
                    <ion-label position="stacked" color="medium">Confirm Password</ion-label>
                    <ion-input formControlName="confirmPassword" name="confirmPassword" type="password" inputmode="password" required="true">
                    </ion-input>
                  </ion-item>
            </form>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row justify-content-center class="margin-plus-row">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-button class="btn-sign" [disabled]="!loginForm.valid" (click)="resetPasswordTapped()" color="secondary"
            expand="block" size="large">Reset Password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>